<!DOCTYPE html>
<html ng-app="counterApp">
<head>
	<title>Watcher Example</title>
	<link rel="stylesheet" href="styles/bootstrap.min.css" />
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
</head>
<body ng-controller="counterController">
	<div class="container">
	
		<center>
			<h1>Digest Cycle</h1><br />
			<button class="btn btn-default" ng-click="showNumebrOfWatchers()"># of Watchers</button><br />
			<button class="btn btn-default" ng-click="countOnce()">Up once Counter</button><br />
			<button class="btn btn-default" ng-click="upCounter()">Counter</button>
		</center>
	</div>
	<div class="form-group">

	</div>
</body>
</html>